body {
      overscroll-behavior: contain;
      font-family: "Gotham Rounded A", sans-serif;
      background-image: url(background.jpg);
      background-repeat: repeat;
      background-size: contain;
    }
    .play{
        text-align: center;
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    .btn {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: 2px solid #3cade6;
        border-radius: 0.6em;
        color: #3cade6;
        cursor: pointer;
        display: flex;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        margin: auto;
        margin-top: 14px;
        padding: 1.1em 2.6em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    .btn:hover, .btn:focus {
      color: #fff;
      outline: 0;
    }
    .first {
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    .first:hover {
      box-shadow: 0 0 40px 40px #3cade6 inset;
    }
    .card{
        border: 1px solid black;
        border-radius: 10px;
        height: 410px;
        width: 260px;
        position: relative;
        display: block;
        margin: auto;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        padding: 20px;
        background: white;
    }
    .title{
        margin-top: 30px;
        text-align: center;
        white-space: normal;
        font-size: 18px;
        margin-top: 26px;
        margin-bottom: 23px;
        font-weight: bold;
        line-height: 23px;
        height: 23px;
    }
    .description{
        margin-top: 30px;
        height: 266px;
        text-align: center;
        white-space: normal;
        font-size: 13px;
        flex-wrap: wrap;
        margin-left: 35px;
        margin-right: 35px;
    }
    .settings{
        height: 273px;
    }
    .line{
        width: 100px;
        border-bottom: 2px dotted gray;
        margin-left: 81px;
    }
    .points-box{
        border: none;
        margin: auto;
        margin-top: 28px;
        background-color: red;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        text-align: center;
        color: white;
        vertical-align: middle;
        background-color: #15ace5;
        width: 60px;
        height: 50px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        font-size: 20px;
        padding-top: 5px;
    }
    .points{
        margin-top: 10px;
        font-size: 20px;
        color: white;
    }
    .points-label{
        text-transform: uppercase;
        font-size: 8px;
    }
    .button{
        border: 1px solid black;
        border-radius: 33px;
        height: 50px;
        width: 300px;
        position: relative;
        display: block;
        margin: auto;
        margin-top: 10px;
        overflow: hidden;
    }
    .doubleButton{
        border: 1px solid black;
        border-radius: 33px;
        height: 50px;
        width: 150;
        position: relative;
        display: inline-block;
        margin: auto;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
        overflow: hidden;
    }
    #startContainer{
    	background: white;
    }
    #start{
        text-align: center;
        display: block;
        margin-top: 13px;
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
    }
    #skip{
        text-align: center;
        display: block;
        margin-top: 13px;
        font-weight: bold;
        font-size: 22px;
    }
    #correct{
        text-align: center;
        display: block;
        margin-top: 13px;
        font-weight: bold;
        font-size: 22px;
    }
    #skipButton{
        display: none;
        background-color: #ff9800;
        cursor: pointer;
        color: white;
    }
    #correctButton{
        display: none;
        background-color: #4caf50;
        cursor: pointer;
        color: white;
    }
    progress[value] {
      /* Reset the default appearance */
      -webkit-appearance: none;
       appearance: none;
      width: 100%;
      height: 100%;
      border: none;
    }
    progress[value]::-webkit-progress-value {
        background-image:
           -webkit-linear-gradient(left, #30e036, #30e036);
           -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    @-webkit-keyframes animate-stripes {
       100% { background-position: -100px 0px; }
    }

    @keyframes animate-stripes {
       100% { background-position: -100px 0px; }
    }
